@{
    ViewBag.Title = "About";
}

<!-- section -->
<section>
<h3 class="d-inline">About yarn</h3>

<hr/>

<!-- aside -->
<aside>
<b>yarn is a "streaming" project created by a group of 4 students for computer science course.</b>
<br/>
<br/>
<p id="aaa">
    Technical information: <br/>A fullstack project, based on MVC architectural pattern. built under .NET framework.
</p>
</aside>

<h4 class="mt-5">The team</h4>
<hr/>

<!-- multiple columns -->
<div style="column-count: 4; column-gap: 10rem; column-span: all;">

    <p>
        <b class="text-primary">Y</b>uval
        <a style="color: #6d7cf3!important;" href="https://github.com/yuvalzolo">github.com/yuvalzolo</a>
    </p>

    <p>
        <b class="text-primary">A</b>ssaf
        <a style="color: #6d7cf3!important;" href="https://github.com/assaf888">github.com/assaf888</a>
    </p>

    <p>
        <b class="text-primary">R</b>on
        <br/>
        <a style="color: #6d7cf3!important;" href="https://github.com/moreroron">github.com/moreroron</a>
    </p>


    <p>
        <b class="text-primary">N</b>iv
        <a style="color: #6d7cf3!important;" href="https://github.com/nivackerman">github.com/nivackerman</a>
    </p>

</div>
</section>