@using System.Web.UI.HtmlControls
@using Tweetinvi
@using yarn_rider.Models

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Tweeting to yarn</h3>
<hr/>

<p>Write new tweet:</p>

@using (Html.BeginForm())
{

    @Html.TextArea("content", null, new { @class = "form-control" })  
    
    <hr/>

    <div class="row justify-content-end">
        
        <div class="col">
            <input type="submit" value="Tweet" class="btn btn-twitter"/>
        </div>

    </div>
    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


