<style>

</style>

<div class="bg-secondary">
    <footer class="container py-4 ">
        <div class="row">
            <div class="col-1 pt-2">
                <img class="img-fluid" alt="yarn" src="~/Images/logo0.5.svg"
                     style="opacity: 1.0;">
            </div>
            <div class="col">
                <p class="align-middle">
                yarn is a platform for streaming content
                <b>
                    <i style="text-shadow: 1px 1px 0px #000000;color: #6d6d79;">lighting-fast</i>
                </b>
                <br>&copy; yarn @DateTime.Now.Year
                <br/><br/>

                
                    <a href="@Url.Action("Locations", "Home")">
                        <div class="d-inline-block">
                            <i class="fas fa-map-marker-alt pr-1"></i>
                            yarners Across The Globe
                        </div>
                    </a>
                
                    <a href="@Url.Action("About", "Home")">
                        <div class="d-inline-block ml-3">
                            <i class="fas fa-coffee pr-1"></i>
                            About us
                        </div>
                    </a>
              

            </div>
        </div>
    </footer>
</div>